<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <sessionState cookieless="UseUri" />
    </system.web>
	<system.webServer>
	  <rewrite>
       <rules>
            <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
                <match url="(.*)"/>
                <conditions>
                    <add input="{HTTPS}" pattern="^OFF$"/>
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
            </rule>
			<rule name="Rewrite Text Requests" enabled="true" stopProcessing="true">
			<match url=".*" />
			<conditions>
			  <add input="{HTTP_METHOD}" pattern="^GET$" />
			  <add input="{HTTP_ACCEPT}" pattern="^text/html" />
			  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			</conditions>
			<action type="Rewrite" url="/index.html" />
		  </rule>
        </rules>
    </rewrite>
	<staticContent>
            <!-- "." means no extension -->
            <!--  to prevent future duplication errors, remove "." mime map in case a higher level configuration is defined somewhere in the web server tree -->
            <remove fileExtension="." />
            <!-- now add the mime map again -->
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>
	</system.webServer>
</configuration>
